body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #FFF8D0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #B20961;
  text-align: center;
  font-size: 3rem;
}

.text-align-center {
  text-align: center;
}

a, a:link, a:visited, a:active {
  color: #B20961;
}

a:hover {
  color: #B20961;
  text-decoration: underline;
}

pre {
  border: .05rem solid #B20961;
  background-color: white;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.page-title {
  margin: 20px 0 100px 0;
}